:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e6f8f8;
  background: linear-gradient(#00656255, #002221);

  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.screenshot {
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    width: 100%;

    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#000000),
      to(#00000000)
    );
    mask-image: linear-gradient(#000000, #00000000);
  }
}

.color-palette {
  margin-top: -7rem;
  position: relative;
  z-index: 1;
  max-width: 480px;
  background-color: #00656218;
  margin: 0 auto;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.1rem;
}
